.create-service-channel-container {
	background-color: white;
	padding: 20px;
}

.data-container {
	margin-bottom: 1rem;
}

.create-service-channel-button-group {
	display: flex;
	gap: 15px;
}

.create-service-channel-header-box h2,
.create-service-channel-box h2 {
	color: #007bff;
	margin-bottom: 15px;
	font-size: 20px;
}
