.prodcat-create-container {
	padding: 30px;
}

.prodcat-create-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.prodcat-create-heading {
	font-size: 32px;
	font-weight: 700;
	color: #0f1035;
}

.prodcat-create-header-container-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.prodcat-create-header-container-buttons button {
	height: 30px;
	width: 120px;
	border: 1px solid #0f1035;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.prodcat-create-save-button {
	background-color: #365486;
	color: #dcf2f1;
}

.prodcat-create-save-and-new-button {
	background-color: #ffffff;
	color: #0f1035;
}

.prodcat-create-cancel-button {
	background-color: #ffffff;
	color: #0f1035;
}

.prodcat-create-form-container {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #0f1035;
	border-radius: 5px;
	margin-bottom: 20px;
}

.prodcat-create-form-heading {
	position: absolute;
	left: 45px;
	top: -25px;
	padding: 10px;
	background-image: linear-gradient(
		to bottom,
		#f9fafb 0%,
		#f9fafb 50%,
		#ffffff 50%,
		#ffffff 100%
	);
	color: #0f1035;
	font-size: 20px;
	font-weight: 600;
}

.prodcat-create-form form {
	padding: 40px;
}

.prodcat-create-form-row {
	display: flex;
	gap: 40px;
	margin-bottom: 10px;
}

.prodcat-create-form-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.prodcat-create-form-group label {
	font-size: 14px;
	font-weight: 400;
	color: #365486;
	margin: 0;
}

.prodcat-create-form-group input,
.prodcat-create-form-group select {
	width: 100%;
	height: 35px;
	font-size: 14px;
	padding: 0 5px;
	border: 1px solid #365486;
	color: #365486;
	border-radius: 5px;
	outline: none;
}

.prodcat-create-form-group input::placeholder,
.prodcat-create-form-group textarea::placeholder {
	color: #365486;
	font-size: 14px;
}

.prodcat-create-form-group.productAssignmentAllowed {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 10px;
}

.prodcat-create-form-group #productAssignmentAllowed {
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: 1px solid #365486;
	background: #fff;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	display: flex;
	align-items: center;
	outline: none;
}

.prodcat-create-form-group #productAssignmentAllowed:checked {
	background: #365486;
	border-color: transparent;
}

.prodcat-create-form-group #productAssignmentAllowed:checked::after {
	content: "✓";
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	position: absolute;
	top: -2px;
	left: 3px;
}

#numberOfSubCategories {
	width: 100px !important;
	border: 1px solid #365486 !important;
	border-radius: 5px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #365486 !important;
}

.prodcat-create-required-field-text {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #365486;
}

.field-error {
	color: #ef4444;
	font-size: 12px;
}

.input-error {
	border-color: #ef4444 !important;
}

.prodcat-create-sub-category-block {
	margin-top: 20px;
	padding: 30px;
	border: 1px solid #0f1035;
	border-radius: 5px;
}

.prodcat-create-form-group[class*="subCategoryAssignmentAllowed"] {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 10px;
}

input[id^="subCategoryAssignmentAllowed"] {
	width: 18px !important;
	height: 18px !important;
	border-radius: 4px;
	border: 1px solid #365486;
	background: #fff;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	display: flex;
	align-items: center;
	outline: none;
}

input[id^="subCategoryAssignmentAllowed"]:checked {
	background: #365486;
	border-color: transparent;
}

input[id^="subCategoryAssignmentAllowed"]:checked::after {
	content: "✓";
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	position: absolute;
	top: -2px;
	left: 3px;
}
